*, *:before, *:after
    box-sizing: border-box
*
    outline: none
h1, h1, h3, h4, h5
    margin: 0
html
    font-size: 14px
    scroll-behavior: smooth
body
    +reg
    font-size: 1rem
    padding-top: 5.85rem
    &.lock
        overflow: hidden
img
    max-width: 100%
// Данная настройка позволяеет держать картинку в узде и картинка не будет вываливаться за пределы нашего родительского для картинки блока
    
                
