.menu-button
    border: none
    border-left: 1px solid $mobile-grey
    display: flex
    flex-direction: column
    min-height: 100%
    &__line
.logo
    display: flex
    flex-direction: column
    align-items: flex-start
    &__text
    &__description
.navbar
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 5.85rem
    &__mobile
        display: flex
        flex-direction: column
        align-items: flex-end
    &__work-time
    &__desk-phone
        display: flex
        flex-direction: column
        align-items: flex-end
    &__phone
    &__email
    &__button
.button-o