doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        section.hello 
            h1 Привет мир
            p
                | я есть грут
                br
                | Я тоже :)
                br
                span(style="color: red;") У меня лишняя хромосома и поэтому я красный 
            include ./sections/useless
            